@media (max-width:1050px) {
    #pages{
        display: none;
    }
    #contact-btn{
        display: none;
    }
    .navbar li{
      margin-left: 10px;
    }
    .intro-section{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        padding: 0px 40px;
        margin-top: -50px;
    }
    .intro-section h2{
        font-size: 40px;
    }
    .intro-img{
        width: 600px;
        margin-right: 50px;
    }
    .cards-shop1{
        flex-wrap: wrap;
        display: flex;
    }
    .cards-shop2{
        flex-wrap: wrap;
        display: flex;
    }
    .card-1{
        margin-bottom: 30px;
    }
    .texts-shop{
     position: relative;
     right: 600px;
     width: 300px;
    }
    .video-container{
       display: flex;
       flex-wrap: wrap;
       padding: 0 40px;
    }
    .video-img{
        position: relative;
        right: 290px;
        top: 20px;
    }
    .magazine-section{
        display: flex;
       flex-direction: column;
       padding: 0 40px;
       padding-bottom: 100px;
    }
    .m-right-left{
        margin-top: -20px;
    }
    .magazine-left h2{
        width: 700px;
    }
    .m-h3{
        width: 600px;
    }
    .right-btn{
        display: none;
    }
    .magazine-right{
        margin-top: -120px;
    }
    #backtop{
        right: 30px;
    }
    .subscribe{
        position: relative;
        right: 200px;
    }
}
@media (max-width:800px){
        #navbar-responsive {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
           
            flex-wrap: wrap;
            background-color: #57B8FF;
            transition: 0.5s;
           
    }
    .hamburger{
        display: block;
        border: none;
	    background-color: transparent;
	    cursor: pointer;
    }
    .ul-left{
        display: none;
    }
    
.hamburger img{
	width: 40px;
	height: auto;
}
#navbar-close img{
	width: 50px;
    height: auto;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}



#navbar-close{
	border: none;
	background-color: transparent;
	cursor: pointer;
}
#navbar-responsive ul {
	display: flex;
    flex-direction: column;
}

#navbar-responsive ul li a{
	font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
	color: lightgray;
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#navbar-responsive ul li a:hover{
	color: black;
}
}
@media (max-width:675px){
    .card-1{
        width: 600px;
        position: relative;
        right: 50px;
    }
    .card-2{
        width: 600px;
        position: relative;
        right: 50px;
    }
    .card-3{
        width: 600px;
        position: relative;
        right: 50px;
    }
    .card-4{
        width: 600px;
        position: relative;
        right: 50px;
    }
    .img{
        width: 500px;
    }
}
@media (max-width:600px){
    .card-p{
        width: 350px;
        height: 200px;
    }
    .m-h3{
       width: 500px;
    }
    .magazine-right{
        flex-direction: column;
        margin-left: 100px;
    }
    .input ,.a{
        position: relative;
        right: 130px;
        top: -30px;
    }
}